<html>
<!-- The very top of the app. This is where I change the html, obviously -->
<head>
  <title>Old School RuneScape - Item Checker</title>
  <meta name="description" content="Check items inside the world of RuneScape.">
  <meta name="author" content="RuneScape">
</head>

<body>
  <div class="background_pillar">
    <header class="banner"></header>

    <div class="main">
      <div class="content">
        <h1 class="title">Welcome to RuneScape - Item Finder</h1>
        <p class="paragraph">Below you can enter the name of any item you wish to find out more about in the world of
          RuneScape. From feathers to dragon armour, start exploring the content found within the world of Gielinor!</p>

        <div class="item-form">
          <form>
            <div class="form-group" style="display: inline;">
              <input type="text" name="item-name" class="form-group" #itemName placeholder="Search items">
            </div>

            <button (click)="getItemDetails(itemName.value)" type="submit" class="button"
              style="display: inline;">Search</button>
          </form>
        </div>

        <div class="paragraph" *ngFor="let key of objectKeys(item)" style="padding-top: 20px;">
          <ul>
            <li class="results" *ngFor='let obj of item[key]'> {{obj.name}} - {{obj.examine}} </li>
          </ul>
        </div>
      </div>
    </div>

    <footer class="page-foot"> Aario RuneLite API</footer>
  </div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.14.2/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.14.2/firebase-analytics.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>