<html>

<head>
  <title>Old School RuneScape - Item Checker</title>
  <meta name="description" content="Check items inside the world of RuneScape.">
  <meta name="author" content="RuneScape">
</head>


<body>
  <div class="background_pillar">
    <header class="banner"></header>

    <div class="main">
      <div class="content">
        <h1 class="title">Welcome to RuneScape - Item Finder</h1>
        <p class="paragraph">Below you can enter the name of any item you wish to find out more about in the world of RuneScape. From feathers to Dragon armour, start exploring the content found within the world of Gielinor!</p>

        <div class="item-form">
        <form>
          <div class="form-group">
            <input type="text" name="item-name" class="form-group" #itemName placeholder="Search Items">
          </div>
          <button (click)="getItemDetails(itemName.value)" type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>

        <div class="row bg-light mt-4 p-4" *ngFor="let i of item | keyvalue">
          <ul>
            <li>{{i.key}}</li>
            <li>{{i.value}}</li>
          </ul>
        </div>
      </div>
    </div>



    <footer class="page-foot"> Aario RuneLite API</footer>
  </div>
</body>
</html>